.product .photo{
    width: 35vh;
}
.product .title{
    width:35vh;
    font-size: 3vh;
    font-family: 'Poppins';
    font-weight: 300;
    margin-top: 0%;
}
.product .description{
    width:35vh;
    font-size: 3vh;
    margin-top:-10%;
    font-family: 'Poppins';
}

.product .price{
    width:35vh;
    font-size: 3vh;
    font-family: 'Poppins';
    
}

.Product .product {   
    padding: 1vh;
    margin: 1vh;
  }
  
  .Product .product:hover {
    border: 1px solid rgb(197, 197, 197);
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .Product .selected {
    border: 10px solid rgb(197, 197, 197);
  }