.topnav {
    background-color: rgb(5, 92, 222);
    overflow: hidden;
    display: flex;
    justify-content: space-around;

  }

  .topnav  .img-logo{
    width: 10vh;

  }

  .topnav .checkout-car{
    width: 4vh;
      }

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-top: 1vh;
    text-decoration: none;
    font-size: 17px;
   
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #eecc09;
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }